@define-color bg rgba(26, 27, 38, 0.5); 

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-right,
.modules-center {
  background: @bg;
  border-radius: 28px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

#tray,
#group-tray-expander,
#custom-expand-icon,
#custom-update,
#battery,
#network,
#pulseaudio,
#bluetooth {
  margin-right: 17px;
}

#workspaces,
#clock {
  margin-left: 17px;
  margin-right: 17px;
}

#custom-expand-icon,
#group-tray-expander {
  margin-left: 17px;
}
