spawn-at-startup "waybar"
spawn-sh-at-startup "qs -c noctalia-shell"


// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
