prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d_%H-%M-%S.png"

include "animation.kdl"
include "auto-start.kdl"
include "input.kdl"
include "keybind.kdl"
include "layout.kdl"
include "window-rule.kdl"

include "device-specific.kdl"

